body {
	margin: auto;
	padding: 10px;
	font-size: 12px;
	text-align:center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

td {
	width: 250px;
	height: 250px;
	text-align: center;
	border: 5px solid #000;

}

button {
    width: 200px;
    height: 200px;}



#main {
	margin: auto;
	padding: 10px;
	width: 60%;
}
